@import 'constants';

.panel {
    background: white;
    border: solid 2px rgb(230, 230, 230);
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

h2 {
    flex: 1;
    padding: 0 4px
}

.closeX {
    font-size: 2em;
    width: 30px;
    margin-bottom: auto;
    background: none;
    color: #999;
    padding: 0;
    &:hover {
        color: #555;
    }
}