@import 'constants';
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px;
}

.questionSection {
    display: flex;
    align-self: center;

}

.sessionlink {
    color: #555;
    align-self: center;
    padding: 0 16px;
    cursor: pointer;
    &:hover {
        color: $blue;
    }
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 28px);
    font-size: 1em;
    padding: 8px;
    margin: 4px;
}

input[type="submit"] {
    background: $blue;
    max-width: 100px;
    align-self: flex-end;
}

.error {
    color: $red;
    margin: 4px;
    height: 16px;
    font-size: 0.8em;
}